.main-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 1rem;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  .title {
      flex:100%;
      max-width: 100%;
      text-align: center;
      margin: 15px 0;
      padding: 0 0 15px 0;
      border-bottom: 3px solid #747474;
      font-family:Arial, Helvetica, sans-serif;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* filter: grayscale(1) brightness(0.5); */
    border-radius: 5px;
    /* cursor: pointer;
    transition: 0.3s linear; */
  }
  footer{
    background-color: #222222;
    padding: 0 15px;
}
h2 a{
    
    color:#fff;
}
h2 a:hover{
    color:#fff;
}
h5 a{
   color:#fff;
}
h5 a:hover{
 color:#fff;
}
h5{
    font-size: 16px;
}
i{
    color: #fff;
}
a{
    color:#fff;

}
a:hover{
    color: #fff;
}
.copyRigth{
    margin-top: auto;
    margin-bottom: auto;
}
a{
    font-family: 'Ubuntu', sans-serif;
    
  }
  a.nav-link{
    font-family: 'Rubik', sans-serif;
    color:floralwhite;
    font-size: 16px;
  }
  a.nav-link:hover{
    color:darkgrey;
  }
  p{
    font-family: 'Ubuntu', sans-serif;
  }
  .nav-item{
    padding: 0 5% 3% !important;
    font-family: 'Rubik', sans-serif;
  }
  .navbar-brand{
    padding-left:10px !important;
    font-family: 'Rubik',sans-serif ;
    display: block;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    text-align:left;
    font-weight: 400;
  }
  .contactInfo{
    padding:0;
    
   }
  /* .column img:hover {
    filter: grayscale(0);
  } */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }